/* Reset default browser settings */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and margin */
* {
  padding: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  position: fixed;
  display: flex;
  background: #fdfdfd;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

.about {
    margin: 10% 2%;
    width: 40%;
    text-align: justify;

}
h1 {
    text-decoration: underline; 
    margin: 0.5em 0em; 
}

p, h2, h6 {
    margin: 0.7em 0em;
}

a {
    text-decoration: none;
}

.visualization {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:60%;
}

#pieChart {
    margin-top: 4em;
    font-size: 12px;
}

#barChart {
    font-size: 9px;
    margin-top: 4em;
}

#pieChart .title, #barChart .title{
    font-weight: bold;
}

.slice {
    font-size: 8px;
     font-family: "Roboto Mono", monospace;
    fill: white;
    font-weight: bold;   
    cursor: pointer;
} 
