body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
#pieChart {
    top:40%;
    left:10px;
    width:400px;
    height: 400px;
    display: inline-block;
    font-size: 12px;
}

#barChart {
    top:40%;
    height: 400px;
    display: inline-block;
    font-size: 12px;
}

#pieChart .title, #barChart .title{
    font-weight: bold;
}

.slice {
    font-size: 8px;
    font-family: Verdana;
    fill: white;
    font-weight: bold;   
    cursor: pointer;
}
