<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home page</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
  </head>
  <body>
    <section>
        <h1>Project: Interactive charts for frontend data visualization using Flask and D3.js</h1>
        <h2>Author: Aboze Brain John Jnr</h2>
    </section>
        <div class="container">
          <div id="pieChart"></div>
          <div id="barChart"></div>
        </div>
        <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
        var pieChartDataUrl = "{{ url_for('get_piechart_data') }}";
        var barChartDataUrl = "{{ url_for('get_barchart_data') }}";
    </script>
    <script src="{{ url_for('static', filename='js/pieChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/barChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/updateChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>